@font-face {
  font-family: "MinSans-Thin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Thin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "MinSans-Thin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Thin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
input {
  border: none;
  background: fixed;
}
p {
  line-height: initial;
}
input,
#menuIcon,
#mobMenu,
#m_subHeader,
#m_menuBtn {
  display: none;
}

#header {
  position: fixed;
  background: #fff;
  z-index: 1;
}
#lb1 {
  width: 100%;
  height: 12.5vh;
  font-size: calc(1vw + 35px);
  line-height: 12vh;
  text-indent: -0.4vw;
  padding-left: 2vw;
  display: block;
  position: relative;
  border-bottom: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
}
#subHeader {
  width: 100%;
  height: 12.5vh;
  line-height: 12vh;
  position: fixed;
  right: 0;
  border-bottom: 1px solid #000;
}
#subHeader ul {
  float: right;
  padding-right: 2vw;
}
#subHeader ul li {
  float: left;
}
#subHeader ul li:last-child {
  padding-left: calc(1vw + 35px);
}
#subHeader ul li a {
  font-size: calc(1vw + 25px);
}
#menuBtn {
  width: 16vw;
  padding-top: 12.5vh;
  position: fixed;
}
#menuBtn label {
  display: block;
  position: relative;
  width: 16vw;
  height: 12.5vh;
  line-height: 12.5vh;
  padding-left: 2vw;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  font-size: calc(1vw + 17px);
  overflow: hidden;
  cursor: pointer;
}
#menuBtn label:hover {
  background: #57ae81;
}
#menuBtn #lb8 {
  border-bottom: none;
}
#all:checked ~ #menuBtn > label#lb3,
#lighting:checked ~ #menuBtn > label#lb4,
#table:checked ~ #menuBtn > label#lb5,
#chair:checked ~ #menuBtn > label#lb6,
#sofa:checked ~ #menuBtn > label#lb7,
#exposition:checked ~ #menuBtn > label#lb8 {
  background: #57ae81;
}
/*MENU LIST END*/ /*MENU LIST END*/ /*MENU LIST END*/
#contents {
  width: 84vw;
  height: 75vh;
  margin-top: 12.5vh;
  float: right;
  font-size: 35px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
}
#contents::-webkit-scrollbar,
.instagram::-webkit-scrollbar {
  display: none;
}
.ctt1 {
  text-align: center;
  position: relative;
  top: 8vh;
}
.ctt1 img {
  max-height: 50vh;
}
.ctt1 p {
  text-indent: -10px;
  font-size: 30px;
  line-height: 55px;
  padding-top: 25px;
  font-size: calc(1vw + 17px);
}
.banner {
  width: 84vw;
  height: 50vh;
  float: left;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.category span {
  cursor: initial;
}
.category {
  width: 84vw;
  height: 12.5vh;
  line-height: 12.5vh;
  padding-left: 1vw;
  display: grid;
  border-bottom: 1px solid #000;
}
.brand {
  width: 42vw;
  height: 25vh;
  float: left;
  position: relative;
}
.brand img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.artemide2,
.cassina2,
.vitra2,
.knoll2 {
  display: none;
}
.artemide:hover .artemide2,
.cassina:hover .cassina2,
.vitra:hover .vitra2,
.knoll:hover .knoll2 {
  display: block;
}
.instagram {
  height: calc((12.5vh - 1px) * 2 + 25vh);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}
.insta {
  width: 16.8vw;
  height: 34.5vh;
  float: left;
  position: relative;
}
.insta img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.cHeader {
  height: 6.25vh;
  border-bottom: 1px solid #000;
  padding-left: 1vw;
  background: #fea666;
}
.cHeader p {
  line-height: calc(6.25vh - 1px);
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding-right: 0.3vw;
}
#sortBy {
  border: none;
  height: calc(6.25vh - 1px);
  font-size: 12px;
  font-weight: bold;
  float: left;
  outline: transparent;
  color: #000 !important;
  background: #fea666 !important;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#sortBy option {
  font-weight: bold;
  background: #fff;
}
.cFooter {
  width: 84vw;
  display: flex;
  height: 12.5vh;
  border-top: 1px solid #000;
  box-sizing: initial;
}
.cFooter img {
  max-height: 7vh;
  margin: auto;
}
.new,
.lighting,
.table,
.chair,
.sofa,
.empty1,
.empty2 {
  width: 21vw;
  height: calc((12.5vh - 1px) * 2 + 12.5vh);
  float: left;
  position: relative;
}
.new img,
.lighting img,
.table img,
.chair img,
.sofa img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}
.br {
  border-right: 1px solid #000;
}
.bb {
  border-bottom: 1px solid #000;
}
.empty1 {
  border-right: 1px solid #000;
}
.new img:hover,
.lighting img:hover,
.table img:hover,
.chair img:hover,
.sofa img:hover {
  transition: all 1s;
  filter: opacity(50%);
  /*filter: brightness(50%);*/
}
.name {
  font-size: calc(0.1vw + 10px);
  font-weight: bold;
  text-align: right;
  right: 0;
  padding: 0.1vw 0.2vw 0 0;
  position: absolute;
  display: none;
  z-index: 1;
}
.new:hover .name,
.lighting:hover .name,
.table:hover .name,
.chair:hover .name,
.sofa:hover .name {
  display: inline-block;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /*Firefox*/
  -webkit-animation: fadein 1s; /*Safari and Chrome*/
  -o-animation: fadein 1s; /*Opera*/
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} /*Firefox*/
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} /*Safari and Chrome*/
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} /*Opera*/
.poster {
  width: 42vw;
  height: 75vh;
  float: left;
  border-right: 1px solid #000;
  position: fixed;
}
.ctt7 img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.notice {
  width: 42vw;
  height: 75vh;
  float: right;
  display: table;
}
.ctt7 p {
  font-size: calc(0.5vw +10px);
  line-height: 40px;
  padding: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.ctt1,
.ctt2,
.ctt3,
.ctt4,
.ctt5,
.ctt6,
.ctt7 {
  display: none;
}
#mori:checked ~ #wrapper > #contents > .ctt1,
#all:checked ~ #contents > .ctt2,
#lighting:checked ~ #contents > .ctt3,
#table:checked ~ #contents > .ctt4,
#chair:checked ~ #contents > .ctt5,
#sofa:checked ~ #contents > .ctt6,
#exposition:checked ~ #contents > .ctt7 {
  display: block;
}
#footer {
  width: 100%;
  height: 12.5vh;
  line-height: 12vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000;
  padding: 0 2vw;
  background: #fff;
}
#footer ul {
  float: right;
}
#footer ul li {
  float: left;
}
#footer ul li:last-child {
  padding-left: calc(1vw + 35px);
}
#footer ul li a {
  font-size: calc(1vw + 25px);
}
@media screen and (max-width: 896px) {
  #subHeader,
  #menuBtn {
    display: none;
  }
  #m_subHeader,
  #m_menuBtn {
    display: block;
  }
  #header {
    height: 7.33333333333vh;
    position: relative;
  }
  #header #lb1 {
    height: 7.33333333333vh;
  }
  #lb1 {
    font-size: calc(1vw + 15px);
    line-height: 7.33333333333vh;
  }
  #menuIcon {
    display: block;
    height: 7.33333333333vh;
    line-height: 7.33333333333vh;
    padding-right: 2vw;
    font-size: calc(1vw + 15px);
    position: absolute;
    top: 0;
    right: 0;
    color: #000 !important;
    background: none;
    border: none;
    cursor: pointer;
  }
  #mobMenu {
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    left: 0;
    top: 7.33333333333vh;
    z-index: 1000;
    background: #fff;
  }
  #mobMenu::-webkit-scrollbar {
    display: none;
  }
  #m_subHeader {
    width: 100vw;
    height: 7.33333333333vh;
    line-height: calc(7.33333333333vh - 2px);
    top: 7.33333333333vh;
    border-bottom: 1px solid #000;
    background: #242e5d;
  }
  #m_subHeader ul {
    float: right;
    padding-right: 2vw;
  }
  #m_subHeader ul li {
    float: left;
  }
  #m_subHeader ul li:last-child {
    padding-left: calc(1vw + 20px);
  }
  #m_subHeader ul li a {
    font-size: calc(1vw + 15px);
    color: #fff;
  }
  #m_menuBtn {
    padding: 0;
    top: 14.66666666666vh;
  }
  #m_menuBtn label {
    display: block;
    width: 100vw;
    height: 13vh;
    line-height: 13vh;
    padding-left: 2vw;
    border-bottom: 1px solid #000;
    font-size: calc(1vw + 15px);
    cursor: pointer;
  }
  #m_menuBtn label:last-child {
    border: none;
  }
  #m_menuBtn label:hover {
    background: #57ae81;
  }
  #contents {
    width: 100vw;
    height: 85.33333333333vh;
    margin: 0;
  }
  .ctt1 {
    top: 12vh;
  }
  .category span {
    height: 7.33333333333vh;
    line-height: 7.33333333333vh;
    font-size: calc(1vw + 15px);
  }
  .banner {
    width: 100vw;
    height: 18.6666666667vh;
  }
  .btn {
    width: 100vw;
    line-height: 18.6666666667vh;
  }
  .category {
    width: 100vw;
    height: 7.33333333333vh;
  }
  .brand {
    width: 100vw;
    height: 13vh;
  }
  .instagram {
    height: 18.6666666667vh;
  }
  .insta {
    width: 20vw;
    height: 11vh;
  }
  .cHeader {
    height: 7.33333333333vh;
  }
  .cHeader p {
    line-height: 7.33333333333vh;
  }
  #sortBy {
    height: calc(7.33333333333vh - 1px);
    font-weight: 100;
  }
  .new,
  .lighting,
  .table,
  .chair,
  .sofa {
    width: calc(50vw - 0.5px);
    height: 26vh;
    box-sizing: initial;
  }
  .empty1,
  .empty2 {
    display: none;
  }
  .artemide,
  .vitra,
  .new2,
  .lighting2,
  .lighting6,
  .table2,
  .table6,
  .table10,
  .chair2,
  .chair6,
  .sofa2,
  .sofa6 {
    border-right: none;
  }
  .lighting5,
  .lighting6,
  .table9,
  .table10,
  .sofa5,
  .sofa6 {
    border-bottom: 1px solid #000;
  }
  .cFooter {
    width: 100vw;
    height: 7.33333333333vh;
  }
  .cFooter img {
    max-height: 5vh;
  }
  .poster {
    width: 100vw;
    height: 72.33333333333vh;
    border-right: none;
    border-bottom: 1px solid #000;
    position: relative;
  }
  .notice {
    width: 100vw;
    height: 65vh;
  }
  .ctt7 p {
    font-size: calc(0.7vw + 10px);
    line-height: 35px;
    padding: 10px;
    text-align: center;
  }
  #footer {
    height: 7.33333333333vh;
    line-height: 7.33333333333vh;
  }
  #footer ul li:last-child {
    padding-left: calc(1vw + 20px);
  }
  #footer ul li a {
    font-size: calc(1vw + 15px);
  }
}
