*{margin: 0; padding: 0;}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
img{vertical-align: top;}

#wrapper{
    background: #fefbf4;
    width: 1400px;
    margin:0 auto;
}
ul{list-style: none;}
li{float: left;}
a{text-decoration: none;}

/*header*/
#header{
    position: relative;
    height: 100px;
}
h1{
    text-align: center;
    padding-top: 40px;
}
#header>ul{
    position: absolute;
    float: right;
    right: 102px;
    top: 60px;
}
#header>ul>li>a{
    color:#c6bcb2;
    font-size: 18px;
    padding: 0 8px;
    float: right;
    font-weight: bold;
}
#header>ul>li>a:hover{color: #c8a382;}
#header>ul>li>a.earth{
    background: url(image/earth.png) no-repeat 0 2px;
    padding: 0;
    margin-left: 8px;
    width: 15px;
    height: 18px;
}
#header>ul>li>a.earth:hover{background: url(image/earth2.png) no-repeat 0 2px;}
#header2{
    height: 85px;
    width: 1266px;
    margin: 0 auto;
}
#header2>ul>li>a{
    color: black;
    font-size: 20px;
    padding: 0 33px;
    font-weight: bold;
    line-height: 85px;
}
#header2>ul>li>a:hover{color: #c8a382;}

/*sub header*/
#header3{height: 180px;}
.category1{
    width: 828px;
    margin: 0 auto;
    overflow: hidden;
}
.category1>ul>li{padding-top: 75px;}
.category1>ul>li>a{
    color: black;
    font-size: 30px;
    padding: 0 35px;
    font-weight: 600;
}
.category1>ul>li>a:hover{color: #c8a382;}
.category2{
    width: 337px;
    margin: 0 auto;
    overflow: hidden;
}
.category2>ul>li{padding-top: 20px;}
.category2>ul>li>a{
    color: #c6bcb2;
    font-size: 15px;
    padding: 0 25px;
    font-weight: 600;
}
.category2>ul>li>a:hover{font-weight: bold;}

/*detail header*/
#Detaillayout h4{
    height: 95px;
    text-align: center;
    padding-top: 195px;
    font-size: 20px;
}

/*main caontent*/
#Mainlayout h4{
    height: 73px;
    text-align: center;
    padding-top: 107px;
    font-size: 30px;
    
}
#maincontent1,#maincontent2,#maincontent3,#maincontent4{
    margin: 0 auto;
    width: 1300px;
    overflow: hidden;
}
#maincontent1{height: 1270px;}
.product1{
    width: 400px;
    float: left;
    margin-bottom: 80px;
    padding: 0 15px;
}
.thumbnailtext{
    color: #000;
    height: 65px;
}
.thumbleft{
    float: left;
    padding: 10px 0;
    line-height: 22px;
}
.thumbright{
    float: right;
    padding: 13px 0;
    line-height: 19px;
}
.h3{font-size: 17px;}
.name{font-size: 15px;}
.price,.size{font-size: 13px;}
.size{float: right;}

.product2{
    width: 400px;
    float: left;
    padding: 0 15px;
}
.story{
    width: 1260px;
    padding: 0 15px;
}
.prologue{
    width: 600px;
    float: left;
}
.goodbrand{
    width: 600px;
    float: right;
}
#maincontent4{margin-bottom: 160px;}
#maincontent4>ul{
    width: 1260px;
    height: 500px;
    margin: 0 auto;
}
#maincontent4>ul>li{text-align: center;}
.ns{
    width: 252px;
    position: relative;
}
.ns1{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.mp{
    width: 252px;
    position: relative;
    float: left;
}
.mp1{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.sc{
    width: 252px;
    position: relative;
    float: left;
}
.sc1{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.sg{
    width:252px;
    position: relative;
    float: left;
}
.sg1{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.bc{
    width:252px;
    position: relative;
    float: left;
}
.bc1{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.ns:hover .ns1,.mp:hover .mp1,.sc:hover .sc1,.sg:hover .sg1,.bc:hover .bc1{display: block;}

/*sub content*/
#subcontent{
    margin: 0 auto;
    margin-bottom: 80px;
    width: 1300px;
    overflow: hidden;
}

/*detail content*/
#detailcontent{
    margin: 0 auto;
    margin-bottom: 160px;
    width: 1320px;
}
.susie1,.susie2{
    margin-bottom: 60px;
    width: 600px;
    float: left;
    padding: 0 30px;
}
.fragrance,.purchace{
    height: 497px;
    margin-bottom: 80px;
    width: 600px;
    float: left;
    padding: 0 30px;
}
h5{
    font-size: 15px;
    padding-bottom: 31px;
}
.p1{
    padding-bottom: 31px;
    font-size: 14px;
    line-height: 24px;
}
.p2,p{padding-bottom: 3px;}
.p2{
    font-size: 12px;
    line-height: 24px;
}
.p3{
    padding-bottom: 31px;
    font-size: 10px;
}
.p4{
    font-size: 14px;
    padding: 5px 0;
}
#option1{
    width: 600px;
    height: 40px;
    border: 1px solid #c6bcb2;
    background: #fefbf4;
    text-indent: 11px;
}
input::placeholder{color: #c6bcb2;}
#option2,#option3{
    width: 600px;
    height: 40px;
    border: 1px solid #c6bcb2;
    color: #c6bcb2;
    background: #fefbf4;
    padding-left: 11px;
}
.buy>input:first-child{
    cursor: pointer;
    outline-style: none;
    border: 0;
}
.buy>input:last-child{cursor: pointer;}
.buy{
    margin: 10px 0;
    height: 40px;
}
.buynow{
    width: 295px;
    height: 40px;
    color: #fff;
    background: #000;
    float: left;
}
.cart{
    width: 295px;
    height: 40px;
    background: #fefbf4;
    border: 1px solid #c6bcb2;
    float: right;
}
.purchace>a:first-child{float: left;}
.purchace>a:last-child{float: right;}
.information{
    height: 878px;
    padding: 0 30px;
    clear: both;
}
.table1,.table2,.table3,.table4{
    padding-bottom: 24px;
    margin-left: -1px;
}
th{
    width: 100px;
    height: 42px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}
.tip{vertical-align: top;}
td{
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
    padding-bottom: 18px;
}

/*login content*/
#logcontent{
    margin-bottom: 170px;
    text-align: center;
}
h2{padding: 80px 0 40px 0;}
#login-box{
    width: 400px;
    margin: 0 auto;
}
.log1>input,.log2>input{
    width: 386px;
    height: 40px;
    background: #fff;
    border: 1px solid #c6bcb2;
    padding-left: 14px;
    font-size: 15px;
    font-weight: 300;
}
.log1>input{margin-bottom: 10px;}
.log3{
    height: 30px;
    float: left;
}
.log3>p>input{vertical-align:middle;}
.log3>p>label{
    line-height: 30px;
    font-size: 13px;
}
.log-click>input{
    width: 400px;
    height: 40px;
    background: #fff;
    border: 1px solid #c6bcb2;
    cursor: pointer;
}
.log-click{line-height: 40px;}
.log4{
    height: 70px;
    width: 311px;
    margin: 0 auto;
}
.log4>ul>li{
    line-height: 70px;
    padding: 0 18px;
    position:relative;
}
.log4>ul>li:first-child>a:before{width: 0;}
.log4>ul>li>a{
    font-size: 15px;
    color: #000;
}
.log4>ul>li>a:before{
	content: '';
	width: 1px;
	height: 15px;
	background: #000;
	display: block;
	position: absolute;
    left:0;
	top:0;
    margin-top: 27px;
}
.nonmember{
    margin-top: 20px;
    width: 400px;
    line-height: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #c6bcb2;
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: 300;
}