* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 50px;
  line-height: 50px;
}

.watcha-btn {
  width: 50px;
}

main {
  height: 500px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 0 10px;
}

#search-content {
  border: 5px solid aquamarine;
  padding: 10px;
}

#search-content label {
  font-size: 30px;
}

#search-input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 20px;
  padding-left: 10px;
}

#search-content button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background: #ff0558;
}

#card-list {
  border: 5px solid pink;
}
